body, html{
	height: 100%;
	margin: 0;
}

@font-face{
 	font-family: "Barlow regular";
 	src: url("fonts/barlow.regular.ttf") format("truetype");
}

body{
	font-weight: 200;
	font-family: "Barlow regular";
	background-color: #000;
	color: #FFF;
}

header{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
/*.parallax{
	background-clip: ur
}*/
.background-video {
  -webkit-filter: invert(1) contrast(180%) ;
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.5;
  
}

.header-logo{
	margin: auto auto;
	height: 80%;
}

.header-ul-link{
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
    justify-content: space-around;
	list-style-type: none;
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    right: 20px;
  }

.header-li-link{
	padding: 0;
    margin: 0;
   /* text-align: right;*/
}
  
.header-link{
	text-decoration: none;
	color: #E0E0E0;
	font-size: 17px;
	margin-bottom: 0;
	padding: 0;
}

.header-mask-top, .header-mask-bottom{
	position: absolute;
	background: 0 0;
	height: 30px;
	width: 100%;
	z-index: -1;
}

.header-mask-top{
	top: 0;
	transform: rotate(180deg);
}

.header-mask-bottom{
	bottom: 0;
}

.video-main{
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #000;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


	

.last-video{
	margin-top: 50px;
}