body, html{
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face{
 	font-family: "Barlow regular";
 	src: url("fonts/barlow.regular.ttf") format("truetype");
}

body{
	font-weight: 200;
	font-size: 17px;
	font-family: "Barlow regular";
	background-color: #000;
	color: #FFF;
}

.background-video {
  -webkit-filter: invert(1) contrast(180%) ;
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.5;
}
  
header{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.header-logo{
	margin: auto auto;
	max-height: 70%;
	max-width: 70%;
}

.header-ul-link{
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
    justify-content: center;
	list-style-type: none;
    height: 100%;
    right: 20px;
    z-index: 1;
    margin:0;
    padding: 0;
}

.header-li-link{
	margin-top: 20px;
	transform: translateY(-50%);
}
  
.header-link{
	text-decoration: none;
	color: white;
	
	margin-bottom: 0;
	padding: 0;
	position: relative;
}


.header-link::after{
	content: '';
	background-color: #FFF;
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: -3px;
	transform: scale(0);
}

.header-link:hover::after{
	transform: scale(1);
	transition: 0.3s;
}

/************Menu burger*************/


.header-toggle{
	width: 40px;
	height: 60px;
	position: fixed;
	right: 20px;
	top: 20px;
	display: flex;
	cursor: pointer;
	z-index: 999;

}

.header-toggle-icons, .header-toggle-icons:before, .header-toggle-icons:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: #FFF;
	position: relative;
}

.header-toggle-icons:before{
	top:13px;
	/*background-color: green;*/
}

.header-toggle-icons:after {
	top:23px;
	/*background-color: yellow;*/
}

@media only screen  and (max-width: 672px)
{
	.header-toggle{
		display: block;
	}
    
}

@media only screen  and (max-width: 672px)
{
	.header-ul-link{
		display: flex;
		align-items: center;
		position: fixed;
		width: 50%;
		height: 100%;
		top: 0;
		right: 0;
		background-color: #000;
		opacity: 0.9;

	}
    
}


/**************Images svg**************/

.mask{
	
	background: 0 0;
	height: 30px;
	width: 100%;
	z-index: -1;
	opacity: 0.9;
}

.header-mask-bottom{
	bottom: 0;
	position: absolute;
}

.footer-mask-top{
	top: 0;
	transform: rotate(180deg);
	opacity: 0.9;
}

/*************Main***************/

.video-main{
	width: 100%;
	background: rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*Le 1er wrapper permet de définir la largeur souhaitée de la video*/

.wrapper-video-A1, .wrapper-video-B1{
	width: 30%;
	margin-top: 3em;
}

@media only screen  and (min-width: 520px) and (max-width: 1080px)
{
	.wrapper-video-A1, .wrapper-video-B1{
		width: 60%;
	}
    
}

@media only screen  and (max-width: 519px)
{
	.wrapper-video-A1, .wrapper-video-B1{
		width: 80%;
	}
    
}

.wrapper-video-B1{
	margin-bottom: 3em;
}

/*Le 2ème wrapper permet de garder le ratio "youtube" de la video,
le ratio est donné par le padding-top qui va se calculer sur la largeur du wrapper 1
*/

.wrapper-video-A2, .wrapper-video-B2{
  position: relative; 
 /* overflow: hidden; */
  padding-top: 56.25%; 
/*  background-color: red;*/
  width: 100%;

}

.videoYT-1 , .videoYT-2{
	position:  absolute;
	transition: all 1.5s ease ;
	width: 100%;
	height: 100%;	
	top: 0;
    left: -75%;
}


