
body{
	height: 100%;
	background-color: #000;
	font-family: "Barlow regular";
	color: #FFF;
	margin: 0;
	font-size: 20px;
}


@font-face{
 	font-family: "Barlow regular";
 	src: url("fonts/barlow.regular.ttf") format("truetype");
}


.member-banner-reverse{
	grid-template-columns: 1fr 1fr ;
}

.photo-reverse{
	grid-column: 2;
	grid-row: 1;
	background: no-repeat url("C:/Users/Bilal/Desktop/Back-roads-site/public/img/fabBW.jpg");
}


.member-banner, .member-banner-reverse{
	width: 100%;
	height: 350px;
	display: grid;
	margin-bottom: 20px;

}
.member-banner{
	grid-template-columns: 80% 1fr ;
}
.member-banner-reverse{
	grid-template-columns:  1fr 80% ;
}

.parallax-left{
	background: transparent;
}

.bio-right{
	grid-column: 2;
	
}

.bio-left{
	grid-column: 1;
	grid-row: 1;
	
}

.bio{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.bio p{
	text-align: center;
}



/*.photo-fab{
	background: no-repeat left 60% top 10% url("../img/fabBW-2.jpg");
	background-size: cover;
}
.photo-syl{
	background: no-repeat left 90% top 10% url("../img/sylvaineBWretouche.png");
	background-size: cover;
}
.photo-chris{
	background: no-repeat left 60% top 60% url("../img/chris-3.jpg");
	background-size: cover;
}
.photo-franck{
	background: no-repeat left 30% top 30% url("../img/franckBW.jpg");
	background-size: cover;
}
.photo-bilal{
	background: no-repeat left 60% top 10% url("../img/fabBW.jpg");
	background-size: cover;
}
*/
