
body{
	height: 100%;
	background-color: #000;
	font-family: "Barlow regular";
	color: #FFF;
	margin: 0;
	font-size: 20px;
}


@font-face{
 	font-family: "Barlow regular";
 	src: url("fonts/barlow.regular.ttf") format("truetype");
}


.member-banner{
	/*height: 400px;*/
	display: grid;
	grid-template-rows:  60px 400px;
}

.parallax{
	background: transparent;


}

.bio{
	background-color: #000;
	text-align: center;
	margin: auto auto;
	border: 1px solid white;
	padding: 10px 20px;
}


.test{

}


/*.photo-fab{
	background: no-repeat left 60% top 10% url("../img/fabBW-2.jpg");
	background-size: cover;
}
.photo-syl{
	background: no-repeat left 90% top 10% url("../img/sylvaineBWretouche.png");
	background-size: cover;
}
.photo-chris{
	background: no-repeat left 60% top 60% url("../img/chris-3.jpg");
	background-size: cover;
}
.photo-franck{
	background: no-repeat left 30% top 30% url("../img/franckBW.jpg");
	background-size: cover;
}
.photo-bilal{
	background: no-repeat left 60% top 10% url("../img/fabBW.jpg");
	background-size: cover;
}
*/
